<md-progress-spinner
    v-if="loading"
    :md-diameter="100"
    :md-stroke="10"
    md-mode="indeterminate">
</md-progress-spinner>
<div v-else>
    <md-table
        v-if="hasPeople"
        v-model="people"
        md-sort="lastName"
        md-sort-order="asc" 
        md-card>
        <md-table-toolbar>
            <h1 class="md-title">People</h1>
            <div class="md-toolbar-section-end">
                <md-button 
                class="md-raised md-primary"
                :to="{ name: 'people-edit' }">
                    Add <md-icon>add</md-icon>
                </md-button>
            </div>
        </md-table-toolbar>
        <md-table-row slot="md-table-row" slot-scope="{ item }">
            <md-table-cell
                md-label="Last Name"
                md-sort-by="lastName">
                {{ item.lastName }}
            </md-table-cell>
            <md-table-cell
                md-label="First Name"
                md-sort-by="firstName">
                {{ item.firstName }}
            </md-table-cell>
            <md-table-cell
                md-label="Email"
                md-sort-by="emailAddress">
                {{ item.emailAddress }}
            </md-table-cell>
            <md-table-cell
                md-label="Edit">
                <md-button
                    :to="{ name: 'people-edit', params: { id: item.id } }"
                    class="md-primary">
                    <md-icon>edit</md-icon>
                </md-button>
                <md-button
                    :to="{ name: 'people-delete', params: { id: item.id } }"
                    class="md-primary">
                    <md-icon>delete</md-icon>
                </md-button>
            </md-table-cell>
        </md-table-row>
    </md-table>
    <md-empty-state
        v-else
        class="md-accent"
        md-rounded
        md-icon="not_interested"
        md-label="No Data"
        md-description="There are currently no people!">
        <md-button class="md-primary md-raised" :to="{ name: 'people-edit' }">Add</md-button>
    </md-empty-state>
</div>